<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="vagas.css">
    <title>Vagas Disponíveis</title>
</head>
<body>

    <div class="vagas-container">
        <h2>Vagas Disponíveis</h2>

        <div class="vaga-box">
            <h3>Auxiliar de limpeza</h3>
            <p>Empresa: Tech Solutions</p>
            <p>Localização: São Paulo, SP</p>
            <p>Descrição: Estamos procurando uma auxiliar para se juntar à nossa equipe.</p>
            <button class="candidatar-btn">Candidatar-se</button>
        </div>

        <div class="vaga-box">
            <h3>Diarista</h3>
            <p>Empresa: Pessoa física, Diana</p>
            <p>Localização: Rio de Janeiro, RJ</p>
            <p>Descrição: Vaga para diarista, moro sozinha e preciso de uma diarista uma vez por semana.</p>
            <button class="candidatar-btn">Candidatar-se</button>
        </div>

        <div class="vaga-box">
            <h3></h3>
            <p>Empresa: Digital Marketing Pro</p>
            <p>Localização: Belo Horizonte, MG</p>
            <p>Descrição: Buscamos um analista de marketing digital para desenvolver e implementar estratégias eficazes de marketing online.</p>
            <button class="candidatar-btn">Candidatar-se</button>
        </div>

        <div class="vaga-box">
            <h3>Engenheiro de Software</h3>
            <p>Empresa: Future Tech Innovations</p>
            <p>Localização: Brasília, DF</p>
            <p>Descrição: Procuramos um engenheiro de software talentoso para participar de projetos emocionantes e inovadores.</p>
            <button class="candidatar-btn">Candidatar-se</button>
        </div>

    </div>

</body>
</html>
