<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
</head>
<body>
    
<h1>Sobre nós</h1>

<h2>Projeto feito por Victor, Higor e Arthur</h2>

<style>
    body{
    background-color: gray;
}

h1{
    font-size: 70px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h2{
    font-size: 35px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

</style>
</body>
</html>